<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1 {
            color: blue;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
        }
        </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form method="POST" action="/user/login">
        <label>Email:</label>
        <input name="email" type="email" required />
        <label>Password:</label>
        <input name="password" type="password" required />
        <br/>
        <button type="submit">Login</button>
        </form>
</body>
</html>